asgiref==3.8.1
beautifulsoup4==4.12.3
Django==5.1.2
groq==0.11.0
html2text==2024.2.26
numpy==1.26.4
pandas==2.2.3
playwright==1.48.0
pygwalker==0.4.9.13
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
requests==2.32.3
soupsieve==2.6
sqlparse==0.5.1
urllib3==2.2.3
altair==4.2.2
jsonschema==4.23.0
ipywidgets==8.1.5
gunicorn==21.2.0
whitenoise==6.6.0